DATABASE_URL="postgresql://sportmanager:sportmanager2026@localhost:5450/sportmanager"
JWT_ACCESS_SECRET="sportmanager-jwt-access-secret-change-in-production-min32chars"
JWT_REFRESH_SECRET="sportmanager-jwt-refresh-secret-change-in-production-min32chars"
JWT_ACCESS_EXPIRES="15m"
JWT_REFRESH_EXPIRES="7d"
PORT=3001
NODE_ENV="development"
SEED_SUPER_ADMIN_EMAIL="admin@sportmanager.com"
SEED_SUPER_ADMIN_PASSWORD="Admin2026*"
